@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #ededed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.btnMenu{
	color: #fff;
	font-size: 20pt;
	margin-right: 10px;
	display: none;
}
.viewMenu{
	left: 0;
	transition: 0.5s all;
}
.header{
	color: #FFF;
	background: #00000091;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: #000000;
	/*background: #058167;*/
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #fff;
}
nav .principal > a{
    /*background: url(../img/arrow_bottom.png) no-repeat;*/
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	background: #696969;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	background: #808080;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	padding: 90px 15px 15px;
}
/*****************************************************************/

.form_register{
	width: 450px;
	margin: auto;
}

.form_register h1{
	color: #3c93b0;
}

hr{
	border: 0;
	background: #ccc;
	height: 1px;
	margin: 10px 0;
	display: block;
}

form{
	background: #fff;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid #d1d1d1;
}

label{
	display: block;
	font-size: 12pt;
	font-family: 'GothamBook';
	margin: 15px auto 5px auto;
}

input, select{
	display: block;
	width: 100%;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid #80929e;
	border-radius: 5px;
}

.notItemOne option:first-child{
	display: none;
}
.btn_save{
	font-size: 12pt;
	background: #12a4c6;
	padding: 10px;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 30px auto 15px auto;
	display: block;
	border-radius: 5px;
}
.btn_save_1{
	font-size: 12pt;
	background: #12a4c6;
	padding: 10px;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	/*margin: 30px auto 15px auto;*/
	display: inline-block;
	border-radius: 5px;
}
.btn_busventa{
	width: 154px;
	background: #12a4c6;
	color: #fff;
	display: block;
	padding: 5px;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	margin: 15px;
}

.alert{
	width: 100%;
	border-radius: 6px;
	margin: 20px auto;
}

.msg_error{
	background: red;
	color: white;
}
.msg_save{
	background: #43a2f0;
	color: white;
}

.alert p{
	padding: 10px;
}

.msg_aviso_error{
	font-size: 15pt;
	text-align: center;
	background: #d03e3e;
	color: black;
}
.msg_aviso_ok{
	font-size: 15pt;
	text-align: center;
	background: #539b5b;
	color: black;
}


/****************** LISTA USUARIO ***********************/
#container h1{
	font-size: 35px;
	display: inline-block;
	margin: 38px auto 5px auto;
}

.btn_new{
	display: inline-block;
	background: #239baa;
	color: #fff;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}

table{
	border-collapse: collapse;
	font-size: 11pt;
	font-family: 'arial';
	width: 100%;
}
table th{
	text-align: center;
	padding: 10px;
	background: #a39543;
	color: #fff;
}
table tr:nth-child(odd){
	background: #fff;
}
table td{
	padding: 10px;
}
table tr{
	text-align: center;
}

.link_edit{
	display: inline-block;
	background: #0ca4ce;
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
}
.link_delete{
	display: inline-block;
	background: #f53a3a;
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
}
.inactivo{
	display: inline-block;
	background: #f53a3a;
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
}
.activo{
	display: inline-block;
	background:#2abd17;
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
}

.limite_fecha{
	display: inline-block;
	background:rgb(241, 159, 6);
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
}

.link_delete_1{
	display: inline-block;
	background: #f53a3a;
	color: #fff;
	padding: 10px 8px;
	border-radius: 4px;
}
.link_deleteone{
	display: inline-block;
	background: #f53a3a;
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
	width: 100%;
}
.link_add{
	background: #64b13c;
	color: #fff;
}
.link_addone{
	display: inline-block;
	background: #62be30;
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
	width: 100%;
}
#idPdf{
	color: #fff;
	background: #c71d1d;
	padding: 10px 15px;
	border: 1px solid #000000;
	border-radius: 5px;
}
#idExcel{
	color: #fff;
	background: #22611a;
	padding: 10px 15px;
	border: 1px solid #000000;
	border-radius: 5px;
}
/*********************ELIMINACION*********************/
.data_delete{
	text-align: center;
	margin: 75px;
}
.data_delete h2{
	font-size: 15pt;
	margin: 50px auto;
}
.data_delete span{
	font-weight: bold;
	color: #4f72d4;
	font-size: 12pt;
}
.btn_cancel, .btn_ok{
	width: 124px;
	background: #e66262;
	color: #fff;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	margin: 15px;
}
.btn_cancel{
	background: rgb(100, 138, 44);
}

.data_delete form{
	background: initial;
	margin: auto;
	padding: 20px 50px;
	border: 0;
}
/******************* PAGINADOR ********************/
.paginador ul{
	padding: 15px;
	list-style: none;
	background: #FFF;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.paginador a, .pageSelected{
	color: #428bca;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
}
.paginador a:hover{
	background: #ddd;
}
.pageSelected{
	color: #FFF;
	background: #428bca;
    border: 1px solid #428bca;
}
.text-list{
	padding: 10px;
	background: #fff;
	display: flex; 
	justify-content: center;
}
/**************** Buscador ********************/
.form_search{ 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px;
	margin: 50px;
}
.form_search .btn_search{
	float: right;
	background: #239baa;
	color: #fff;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 5px;
}

select#search_proveedor {
	color: #fff;
	background: #a39543;
	text-align: center;
	font-size: 12pt;
}
/*================= Ventas ===================*/
.datos_cliente, .datos_venta, .title_page{
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
}
#detalle_venta tr{
	background-color: #FFF !important;
}
#detalle_venta td{
	border-bottom: 1px solid #CCC;
}
.datos{
	background-color: #e3ecef;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #78909C;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd20{
	width: 20%;
}
.wd25{
	width: 25%;
}
.wd30{
	width: 30%;
}
.wd40{
	width: 40%;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}
.tbl_venta{
	max-width: 900px;
	margin: auto;
}
.tbl_venta tfoot td{
	font-weight: bold;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}

/*************** estilos del buscador ventas *************/
.form_search_date{
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	margin: 10px auto;
}
.form_search_date label{
	margin: 0 10px;
}
.form_search_date input{
	width: 145px;
}
.form_search_date .btn_view{
	padding: 8px;
}
.btn_view{
	background-color: #1faac8;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #fff;
}
/*************** PANEL DE CONTROL *************/
.titlePanelControl{
	width: 100%;
	background: #fff;
	padding: 5px 15px;
	margin-bottom: 10px;
	font-size: 18pt !important;
	color: #000;
}
.divContainer{
	margin-bottom: 20px;
}
.dashboard{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: auto;
}
.dashboard a{
	color: #898989;
	width: calc(100% / 5);
	padding: 20px;
	background-color: #fff;
	font-size: 25pt;
	text-align: center;
}
.dashboard p{
	color: #3279a7;
}
.dashboard a span{
	font-weight: bold;
	font-size: 14pt;
}
.containerPerfil{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.containerDataUser, .containerDataEmpresa{
	width: 500px;
	background-color: #fff;
	padding: 20px;
}
.logoUser {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 20px auto;
	padding: 25px;
	background: #e9e9e9;
}
.logoUser img{
	width: 100%;
	height: 100%;
}
.divDataUser{
	padding: 10px;
	margin: auto;
}
.divInfoSistema h4{
	background: #3279a7;
	padding: 5px 10px;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 10px;
}
.divDataUser > div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.divDataUser label{
	width: 150px;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}
.divDataUser span{
	padding: 5px;
}
.divInfoSistema form{
	padding: 20px;
}
.divInfoSistema input{
	margin-bottom: 10px;
}
.alertChangePass{
	text-align: center;
	font-weight: bold;
}